glfw-3.3.2/build/GLFW.xcodeproj/xcuserdata/playcrab.xcuserdatad/xcschemes/xcschememanagement.plist
opengltest/opengltest.xcodeproj/project.xcworkspace/xcuserdata/playcrab.xcuserdatad/UserInterfaceState.xcuserstate
opengltest/opengltest.xcodeproj/xcuserdata/playcrab.xcuserdatad/xcschemes/xcschememanagement.plist
